html, body {
	padding:50px 0px 0px 0px;
	z-index: 0;
	background-color: #65B2FF;
	height:100%;
	
	/*margin-bottom:60px;*/
}

.layer1 {
	background-color:blue;
}

.col-sm-9, .col-sm-offset-1 {
	background-color: #99CCFF;
	border-color: #223A56;
	margin-bottom: 20px;
	padding-top:10px;
}

.navbar-default {
	background: #4477AB;
	color:white;
}

.navbar-default .navbar-nav>li>a {
	color:white;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color:white;
	background-color:#345B82;
	background-image:none;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color:#345B82;
	color:white;
}

/*
	Make sure when using info button that it doesn't affect this page
*/
.btn-info {

	margin-bottom:10px;
}

footer[role="contentInfo"] {
	/*position:fixed; absolute: works for non scrolled pages; relative works with scrolling pages; 
	use bootstrap's navbar-fixed-bottom tag
	bottom:0; */
	text-align: center;
	width:100%;
	height: 60px;
	background-color:#000000;
	color:white;
	margin-top:25px;
	padding-bottom:50px;
	vertical-align: baseline;
}