/*       Globals         */


/*      Base structure      */

html,
body {
    height: 100%;
}

body {
    color: #66615b;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


/*      Font Smoothing      */

body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-weight: 300;
    margin: 30px 0 15px;
}

h1,
.h1 {
    font-size: 52px;
    font-family: 'Muli', Arial, sans-serif;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2,
.h2 {
    font-size: 36px;
}

h3,
.h3 {
    font-size: 28px;
    margin: 20px 0 10px;
    margin-right: 5px;
    
}

h4,
.h4 {
    font-size: 22px;
    line-height: inherit;
    margin: 20px 2px 10px
}

h5,
.h5 {
    font-size: 16px;
    margin-bottom: 15px;
}

h6,
.h6 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #68B3C8;
}

a:hover,
a:focus {
    text-decoration: none;
}


/*      Navigation      */

@media (max-width: 1010px) {
    .navbar-header,
    .navbar-right {
        padding: 0px;
    }
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

.navbar {
    border: 0;
    font-size: 16px;
    background-color: rgba(173, 213, 247, 0.2);
    border-bottom: 2px solid rgba(34, 58, 86, 0.1);
    margin-bottom: 0px;
}

#user-nav {
    border: 0;
    font-size: 16px;
    background-color: rgba(223, 240, 216, 0.4);
    border-bottom: 2px solid rgba(34, 58, 86, 0.1);
    margin-bottom: 0px;
}

.navbar .navbar-brand {
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    margin: 5px 0px 5px -5px !important;
    font-size: 22px;
    color: #66615B;
}

.navbar-toggle {
    margin: 10px 15px 10px 0;
    height: 40px;
    border: 0;
}

.navbar-toggle .icon-bar,
.navbar-toggle .icon-bar-admin {
    display: block;
    position: relative;
    background-color: rgba(102, 97, 91, 0.70);
    width: 24px;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto;
}

.checkbox,
.radio {
    color: #66615B;
    margin-bottom: 12px;
    padding: 8px 12px;
    position: relative;
    -webkit-transition: color 0.25s linear;
    transition: color 0.25s linear;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
}


/*      Buttons     */

.btn,
.navbar .navbar-nav > li > a.btn {
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 18px;
    border-color: rgba(102, 97, 91, 0.70);
    color: #66615B;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.btn>i {
    font-size: 28px;
    float: left;
    margin-right: 4px;
    line-height: 20px;
    width: inherit;
    text-align: left;
}

.long {
    white-space: normal;
    margin-bottom: 12px;
    margin-top: 12px;
    float: right;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.open > .btn.dropdown-toggle,
.open > .btn.dropdown-toggle:focus,
.open > .btn.dropdown-toggle:hover,
.navbar .navbar-nav > li > a.btn:hover,
.navbar .navbar-nav > li > a.btn:focus,
.navbar .navbar-nav > li > a.btn:active,
.navbar .navbar-nav > li > a.btn.active,
.navbar .navbar-nav > li > a.btn:active:focus,
.navbar .navbar-nav > li > a.btn:active:hover,
.open > .navbar .navbar-nav > li > a.btn.dropdown-toggle,
.open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:focus,
.open > .navbar .navbar-nav > li > a.btn.dropdown-toggle:hover {
    background-color: #66615B;
    color: rgba(255, 255, 255, 0.85);
    border-color: #66615B;
}

.btn.btn-fill,
.navbar .navbar-nav > li > a.btn.btn-fill {
    color: #FFFFFF;
    background-color: #66615B;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn.btn-fill:hover,
.btn.btn-fill:focus,
.btn.btn-fill:active,
.btn.btn-fill.active,
.open > .btn.btn-fill.dropdown-toggle,
.navbar .navbar-nav > li > a.btn.btn-fill:hover,
.navbar .navbar-nav > li > a.btn.btn-fill:focus,
.navbar .navbar-nav > li > a.btn.btn-fill:active,
.navbar .navbar-nav > li > a.btn.btn-fill.active,
.open > .navbar .navbar-nav > li > a.btn.btn-fill.dropdown-toggle {
    background-color: #484541;
    color: #FFFFFF;
    border-color: #484541;
}

.btn:hover,
.btn:focus,
.navbar .navbar-nav > li > a.btn:hover,
.navbar .navbar-nav > li > a.btn:focus {
    outline: 0 !important;
}

.btn:active,
.btn.active,
.open > .btn.dropdown-toggle,
.navbar .navbar-nav > li > a.btn:active,
.navbar .navbar-nav > li > a.btn.active,
.open > .navbar .navbar-nav > li > a.btn.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}

.navbar .navbar-nav > li > a.btn.btn-wd,
.btn-wd {
    min-width: 140px;
}

.buttons-with-margin .btn {
    margin-bottom: 5px;
}

.btn,
.pagination a {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

table.dataTable .btn.btn-icon {
  /*margin: 0 3px;*/
  padding: 5px 0px;
  border: 0;
}
.btn-warning {
    background-color: transparent;
    color: #F3BB45;
}

.btn-warning.btn-simple:hover, .btn-warning.btn-simple:active, .btn-warning.btn-simple:focus{
    background-color: transparent;
    color: #f0a810;
}
.btn-danger {
    background-color: transparent;
    color: #d9534f;
}

.btn-danger.btn-simple:hover, .btn-danger.btn-simple:active, .btn-danger.btn-simple:focus{
    background-color: transparent;
    color: #EB5E28;
}

.btn-warning i[class^="pe-"]{
    float: left;
    font-size: 20px;
    font-weight: inherit;
}

.btn-danger i[class^="pe-"]{
    float: left;
    font-size: 30px;
    font-weight: inherit;
}

/* Table try */

.bootstrap-table .table {
  margin-bottom: 0 !important;
  border-bottom: 1px solid #cfcfca;
  border-collapse: collapse !important;
  border-radius: 1px;
}

.bootstrap-table .table,
.bootstrap-table .table > tbody > tr > th,
.bootstrap-table .table > tfoot > tr > th,
.bootstrap-table .table > thead > tr > td,
.bootstrap-table .table > tbody > tr > td,
.bootstrap-table .table > tfoot > tr > td {
  padding: 8px !important;
}

.bootstrap-table .table > tbody > .selected {
  background-color: rgba(122, 158, 159, 0.2);
}

.bootstrap-table .table.table-no-bordered > thead > tr > th,
.bootstrap-table .table.table-no-bordered > tbody > tr > td {
  border-right: 2px solid transparent;
}

.fixed-table-container {
  position: relative;
  clear: both;
}

.fixed-table-container.table-no-bordered {
  border: 1px solid transparent;
}

.fixed-table-footer,
.fixed-table-header {
  overflow: hidden;
}

.fixed-table-footer {
  border-top: 1px solid #cfcfca;
}

.fixed-table-body {
  height: 100%;
  overflow: auto;
}

.fixed-table-container table {
  width: 100%;
}

.fixed-table-container thead th {
  height: 0;
  padding: 0;
  margin: 0;
}

.fixed-table-container thead th:first-child {
  border-left: none;
}

.fixed-table-container thead th .th-inner {
  padding: 0 8px;
  line-height: 24px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fixed-table-container thead th .sortable {
  cursor: pointer;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.fixed-table-container thead th .both {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC");
  background-position: right 2px;
}

.fixed-table-container thead th .asc {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA+swAAIT6AAB5gQAA/RMAADBtAAASKQ0eJk4AAACASURBVHja7NKhDcJQFIbRV1MSEqaoYwYMYyARR6HZowzAHqguUolHYEgxD9MmTYPpA1JEb/KZK476Q4wxfKvwc6x/WKJE3v+nYkc8cfgIwxpXRNQokjBkOLdQ1wlZCrbFbYDdsRmFYYVqAHVdsBiD7dHg8aYGu2l2NmMz9s/YawDpU8qkYQTHqgAAAABJRU5ErkJggg==");
  background-position: right 5px;
}

.fixed-table-container thead th .desc {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA+swAAIT6AAB5gQAA/RMAADBtAAASKQ0eJk4AAACFSURBVHja7NKhDcJQFIbRWwMJCVPgmKGGMZCIo9DsAQOwRxWLIPEIDCnmYR4JaSp4DYKQis/8NznqRkopvlWM2Ij9BYY1Wtx7arEpwaZokHo6Yf4xFhGBGrcOdMUqIqIUq3DoYEdUxVgGFzhn6ILl61aMZXCLB3bv+1Bsgj1mg7CfeNrnAMXSyqQtsCNeAAAAAElFTkSuQmCC");
  background-position: right 0px;
}

.fixed-table-container th.detail {
  width: 30px;
}

.fixed-table-container tbody tr:first-child td {
  border-top: none;
}

.fixed-table-container tbody td:first-child {
  border-left: none;
}

/* the same color with .active */
.fixed-table-container tbody .selected td {
  background-color: rgba(245, 245, 245, 0.34);
}

.fixed-table-container .bs-checkbox {
  text-align: center;
}

.fixed-table-container .bs-checkbox .th-inner {
  padding: 8px 0;
}

.fixed-table-container input[type="radio"],
.fixed-table-container input[type="checkbox"] {
  margin: 0 auto !important;
  cursor: pointer;
}

.fixed-table-container .no-records-found {
  text-align: center;
  background-color: #FFFFFF !important;
  height: 340px;
  border-radius: 10px;
  width: 100%;
  vertical-align: middle;
}

.fixed-table-container .no-records-found td {
  font-weight: 300;
  font-size: 1.5em;
}

.fixed-table-pagination div.pagination,
.fixed-table-pagination .pagination-detail {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fixed-table-pagination div.pagination .pagination {
  margin: 0;
}

.fixed-table-pagination .pagination a {
  padding: 6px 12px;
  line-height: 1.428571429;
}

.fixed-table-pagination .pagination-info {
  line-height: 34px;
}

.fixed-table-pagination .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.fixed-table-pagination .page-list {
  display: inline-block;
}

.fixed-table-toolbar {
  padding: 5px 0;
}

.fixed-table-toolbar .columns-left {
  margin-right: 5px;
}

.fixed-table-toolbar .columns-right {
  margin-left: 5px;
}

.fixed-table-toolbar .columns .btn {
  margin: 0 2px;
  border-radius: 30px;
}

.columns-right .btn-group .btn {
  margin-right: 0;
}

.columns-left .btn:first-child {
  margin-left: 0;
}

.pull-right .pagination .page-last a {
  margin-right: 0;
}

.pull-left .pagination .page-first a {
  margin-left: 0;
}

.bootstrap-table .td-actions .th-inner {
  padding-right: 17px;
}

.fixed-table-toolbar .columns label {
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #E3E3E3;
  clear: both;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.428571429;
}

.fixed-table-toolbar .columns li:last-child label {
  border-bottom: none;
}

.fixed-table-toolbar .bars,
.fixed-table-toolbar .search,
.fixed-table-toolbar .columns {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 34px;
}

.fixed-table-toolbar .search {
  margin-left: 0;
}

.fixed-table-pagination li.disabled a {
  pointer-events: none;
  cursor: default;
}

.fixed-table-loading {
  display: none;
  position: absolute;
  top: 42px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #FFFFFF;
  text-align: center;
}

.fixed-table-body .card-view .title {
  font-weight: bold;
  display: inline-block;
  min-width: 30%;
  text-align: left !important;
}

/* support bootstrap 3 */
.bootstrap-table .table thead > tr > th {
  padding: 0;
  margin: 0;
}

.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}


/* calculate scrollbar width */
p.fixed-table-scroll-inner {
  width: 100%;
  height: 200px;
}

div.fixed-table-scroll-outer {
  top: 0;
  left: 0;
  visibility: hidden;
  width: 200px;
  height: 150px;
  overflow: hidden;
}

.bootstrap-table .fixed-table-pagination:after {
  display: table;
  content: "";
  clear: both;
}
.bootstrap-table .fixed-table-pagination .page-list .btn {
  border-radius: 30px;
}
.bootstrap-table .fixed-table-pagination .page-list .btn-group {
  margin-right: 5px;
}
.bootstrap-table .fixed-table-pagination div.pagination,
.bootstrap-table .fixed-table-pagination .pagination-detail {
  margin-top: 15px;
  margin-bottom: 15px;
}
.bootstrap-table .table.table-striped > thead > tr > td, .bootstrap-table .table.table-striped > tbody > tr > td, .bootstrap-table .table.table-striped > tfoot > tr > td {
  border: none;
}

table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
}

table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 8px;
  font-size: 12px;
}
#userAccountsTable > thead > tr > th {
  font-size: 12px;
}
#entryTable > thead > tr > th, #rankTable > thead > tr > th{
  font-size: 14px;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150";
  /* sort */
}

table.dataTable thead .sorting_asc:after {
  content: "\e155";
  /* sort-by-attributes */
}

table.dataTable thead .sorting_desc:after {
  content: "\e156";
  /* sort-by-attributes-alt */
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #eee;
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
  }
}
table.dataTable.table-condensed > thead > tr > th {
  padding-right: 20px;
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 0;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: 0;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  border-bottom-width: 0;
  padding: 4px;
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
  padding-left: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
  padding-right: 0;
}
/*div.dataTables_wrapper > div.row {
    margin-right: -12px;
    margin-left: -12px;
}*/


table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: relative;
  display: inline-block;
  bottom: 0px;
  right: -7px;
  font-family: 'FontAwesome';
  opacity: 0.8;
}
table.dataTable thead .disabled-sorting.sorting:after,
table.dataTable thead .disabled-sorting.sorting_asc:after,
table.dataTable thead .disabled-sorting.sorting_desc:after,
table.dataTable thead .disabled-sorting.sorting_asc_disabled:after,
table.dataTable thead .disabled-sorting.sorting_desc_disabled:after {
  display: none;
}
table.dataTable thead .sorting:after {
  opacity: 0.4;
  content: "\f0dc";
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  top: 3px;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  top: -3px;
}
table.dataTable .table-hover > tbody > tr:hover {
  background-color: #e8e7df;
}
table.dataTable .table > thead > tr > th,
table.dataTable .table > tbody > tr > th,
table.dataTable .table > tfoot > tr > th,
table.dataTable .table > thead > tr > td,
table.dataTable .table > tbody > tr > td,
table.dataTable .table > tfoot > tr > td {
  padding: 8px !important;
  outline: 0;
}


.dataTables_paginate a {
  outline: 0;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  cursor: default !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before {
  display: none !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  top: 50%;
  margin-top: -9px;
  left: 4px;
  height: 18px;
  width: 18px;
  display: block;
  position: absolute;
  color: #518607;
  border: 0px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  line-height: 18px;
  content: '+';
  background-color: #FFF;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  content: '-';
  color: #ED362C;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
  display: none;
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
  padding-left: 27px;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px;
}

table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer;
}
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #31b131;
}
table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
  content: '-';
  background-color: #d33333;
}

table.dataTable > tbody > tr.child {
  padding: 0.5em 1em;
}
table.dataTable > tbody > tr.child:hover {
  background: transparent !important;
}
table.dataTable > tbody > tr.child ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table.dataTable > tbody > tr.child ul li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}
table.dataTable > tbody > tr.child ul li:first-child {
  padding-top: 0;
}
table.dataTable > tbody > tr.child ul li:last-child {
  border-bottom: none;
}
table.dataTable > tbody > tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}

/*.row .tableformat{
    margin-right: -12px;
    margin-left: -12px;
}*/

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 20px;
}

.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  border: 2px solid #66615B;
  border-radius: 20px;
  color: #66615B;
  height: 36px;
  font-weight: 600;
  margin: 0 2px;
  min-width: 36px;
  padding: 6px;
  line-height: 22px;
  text-align: center;
  text-shadow: none;
  font-size: 12px
}


.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li.active > a,
.pagination > li.active > span,
.pagination > li.active > a:hover,
.pagination > li.active > span:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span:focus {
  background-color: #66615B;
  border-color: #66615B;
  color: #FFFFFF;
}



















/*      Page Styles     */

.hero {
    background: url(../img/Stock1.jpg) center no-repeat;
    background-size: cover;
    border: none;
    margin: 0px;
    min-height: calc(100vh - 8em);
}

.jumbotron p {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 25px;
}

.jumbotron p strong {
    font-family: 'Muli', Arial, sans-serif;
    font-size: 21px;
}

.box {
    border-radius: 6px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

body {
    color: #66615b;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

body .wrapper {
    min-height: 100vh;
    position: relative;
}

body .wrapper:after {
    display: table;
    content: " ";
    clear: both;
}

.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
}

.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.card .header {
    padding: 15px 15px 0;
}

.card label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card .title {
    margin: 0;
    font-size: 45px;
    font-weight: 400;
}

#whatsnew i {
    color: #8F7;
    text-shadow: 0 0 3px #66615B;
    font-size: 28px;
    width: 30px;
    text-align: right;
}

table[id=rewardTable] {
    width: 100%;
}

tr[id="rewardRow"] {
    margin-bottom: 10px;
}

td[id="rewardCell"] {
    text-align: center;
}

td[id="second"] {
    border-left: 3px solid grey;
}

.col-sm-offset-1 {
    background-color: transparent;
    margin-bottom: 0px;
}

p[id="rewardDescr"] {
    font-size: 14pt;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.row .separator {
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.chart {
    width: 100%;
}


/*      Sidebar     */

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.sidebar .sidebar-wrapper {
    position: relative;
    max-height: none;
    min-height: 100%;
    overflow: hidden;
    width: 260px;
    z-index: 4;
}

.sidebar .logo-mini {
    display: none;
}


/*.sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}*/

.sidebar,
.off-canvas-sidebar {
    width: 260px;
    display: block;
}

.sidebar .logo,
.off-canvas-sidebar .logo {
    padding: 18px 0px;
    margin: 0;
    box-shadow: inset -1px 0px 0px 0px #cfcfca;
    height: 75px;
    position: relative;
    z-index: 4;
}

.sidebar .logo {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .separator {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 0px;
}

.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 4px 0px;
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.sidebar .logo p,
.off-canvas-sidebar .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    line-height: 20px;
}

.sidebar .logo:before,
.off-canvas-sidebar .logo:before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 10%;
    width: 80%;
    height: 1px;
}

.sidebar .sidebar-wrapper > .nav,
.off-canvas-sidebar .sidebar-wrapper > .nav {
    margin-top: 10px;
}

.sidebar .sidebar-wrapper > .nav li > a,
.off-canvas-sidebar .sidebar-wrapper > .nav li > a {
    margin: 10px 5px 0px;
    padding-left: 25px;
    padding-right: 25px;
}

.sidebar .nav li > a {
    color: #FFFFFF;
    opacity: .86;
    border-radius: 4px;
}

.sidebar .nav>li>a:hover {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}

.sidebar .nav li.active > a {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar:before,
body > .navbar-collapse:before {
    opacity: .33;
    background: #000000;
}

.sidebar:after,
body > .navbar-collapse:after {
    background: #787878;
    background: -moz-linear-gradient(top, #787878 0%, #343434 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, #343434));
    background: -webkit-linear-gradient(top, #787878 0%, #343434 100%);
    background: -o-linear-gradient(top, #787878 0%, #343434 100%);
    background: -ms-linear-gradient(top, #787878 0%, #343434 100%);
    background: linear-gradient(to bottom, #787878 0%, #343434 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1;
}

.sidebar[data-image]:after,
.sidebar.has-image:after,
body > .navbar-collapse[data-image]:after,
body > .navbar-collapse.has-image:after {
    opacity: 0.65;
}

.sidebar[data-color="green"]:after,
body > .navbar-collapse[data-color="green"]:after {
    background: #B0E8A8;
    background: -moz-linear-gradient(top, #4f9e51 0%, #dff0d8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f9e51), color-stop(100%, #dff0d8));
    background: -webkit-linear-gradient(top, #4f9e51 0%, #dff0d8 100%);
    background: -o-linear-gradient(top, #4f9e51 0%, #dff0d8 100%);
    background: -ms-linear-gradient(top, #4f9e51 0%, #dff0d8 100%);
    background: linear-gradient(to bottom, #4f9e51 0%, #dff0d8 100%);
    background-size: 150% 150%;
}

.sidebar[data-color="azure"]:after,
body > .navbar-collapse[data-color="azure"]:after {
    background: #ADD5F7;
    background: -moz-linear-gradient(top, #ADD5F7 0%, #4091ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADD5F7), color-stop(100%, #4091ff));
    background: -webkit-linear-gradient(top, #ADD5F7 0%, #4091ff 100%);
    background: -o-linear-gradient(top, #ADD5F7 0%, #4091ff 100%);
    background: -ms-linear-gradient(top, #ADD5F7 0%, #4091ff 100%);
    background: linear-gradient(to bottom, #ADD5F7 0%, #4091ff 100%);
    background-size: 150% 150%;
}

.sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a,
.off-canvas-sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a {
    padding-left: 70px;
    margin: 0;
}

.sidebar .nav i,
.off-canvas-sidebar .nav i {
    font-size: 28px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

.sidebar:after,
.sidebar:before,
.off-canvas-sidebar:after,
.off-canvas-sidebar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar .mini-logo,
.off-canvas-sidebar .user,
.off-canvas-sidebar .mini-logo,
{
    border-bottom: 1px solid rgba(102, 97, 91, 0.3);
    position: relative;
    z-index: 4;
}


/*      Main Panel      */

.main-panel {
    background: rgba(203, 203, 210, 0.15);
    position: relative;
    /*z-index: 2; this breaks functionality*/
    float: right;
    width: calc(100% - 260px);
    min-height: 100%;
}

.main-panel > .content {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
}

.main-panel > .footer {
    border-top: 1px solid #e7e7e7;
}

.main-panel .navbar {
    margin-bottom: 0;
}

.sidebar,
.main-panel,
.sidebar-wrapper {
    overflow: auto;
    -webkit-transition-property: top, bottom, width;
    transition-property: top, bottom, width;
    -webkit-transition-duration: .2s, .2s, .35s;
    transition-duration: .2s, .2s, .35s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
}

.sidebar,
.main-panel {
    max-height: 100%;
    height: 100%;
}


/*      Changes for display size */

.perfect-scrollbar-on .sidebar .sidebar-wrapper,
.sidebar .sidebar-wrapper,
.perfect-scrollbar-on .main-panel,
.main-panel {
    overflow: hidden;
}

.perfect-scrollbar-off .sidebar .sidebar-wrapper,
.perfect-scrollbar-off .main-panel {
    overflow: auto;
}

@media (min-width: 1000px) {
    .hover-collapse,
    .sidebar-mini .sidebar .sidebar-wrapper > .nav li:hover .collapse,
    .sidebar-mini .sidebar .sidebar-wrapper > .nav li:focus .collapse,
    .sidebar-mini .sidebar .user:hover .collapse {
        display: block;
        position: absolute;
        top: 0;
        left: 81px;
        background-color: #F9F7F3;
        border: 0 none;
        border-radius: 6px;
        padding: 0px;
        -webkit-box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
        box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
    }
    .sidebar-mini .sidebar {
        width: 80px;
        display: block;
        z-index: 3;
    }
    .sidebar-mini .sidebar .sidebar-wrapper {
        overflow: inherit;
        width: 80px;
        box-shadow: none;
    }
    .sidebar-mini .sidebar .sidebar-wrapper .collapse.in {
        display: none;
    }
    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav {
        width: 160px;
        height: auto;
        position: relative;
    }
    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav li.active a:before,
    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav li.active a:after {
        display: none;
    }
    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav li > a:hover,
    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav li > a:focus {
        background-color: #66615B;
        color: rgba(255, 255, 255, 0.85);
        opacity: 1;
        text-decoration: none;
    }
    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav li:first-child > a {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav li:last-child > a {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav:before {
        border-right: 11px solid #F1EAE0;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        position: absolute;
        content: "";
        display: inline-block;
        left: -12px;
        top: 14px;
    }
    .sidebar-mini .sidebar .sidebar-wrapper .collapse .nav:after {
        border-right: 11px solid #F9F7F3;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        position: absolute;
        content: "";
        display: inline-block;
        left: -11px;
        top: 14px;
    }
    .sidebar-mini .sidebar .logo {
        display: none;
        box-shadow: none;
    }
    .sidebar-mini .sidebar .logo-mini {
        display: block;
    }
    .sidebar-mini .sidebar .sidebar-wrapper > .nav a {
        transition: none;
    }
    .sidebar-mini .sidebar .sidebar-wrapper > .nav li > a {
        margin: 10px 0px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .sidebar-mini .sidebar .sidebar-wrapper > .nav li.active > a:before,
    .sidebar-mini .sidebar .sidebar-wrapper > .nav li.active > a:after {
        display: none;
    }
    .sidebar-mini .sidebar .sidebar-wrapper > .nav p {
        display: none;
        left: -20px;
        opacity: 0;
    }
    .sidebar-mini .sidebar .sidebar-wrapper > .nav i {
        float: none;
    }
    .sidebar-mini .sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a {
        padding-left: 25px;
    }
    .sidebar-mini .sidebar .user {
        position: relative;
        margin-top: 20px;
    }
    .sidebar-mini .sidebar .user .nav a {
        transition: none;
    }
    .sidebar-mini .sidebar .user .info > a {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    .sidebar-mini .sidebar .user .photo {
        width: 50px;
        height: 50px;
        border-width: 2px;
    }
    .sidebar-mini .main-panel {
        width: calc(100% - 80px);
        margin-left: 80px;
    }
    .sidebar-mini .main-panel:before {
        position: absolute;
        content: "";
        display: block;
        z-index: 5;
        left: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #cfcfca;
    }
    .sidebar-mini .wrapper {
        height: auto;
    }
    .sidebar-mini .sidebar,
    .sidebar-mini .main-panel {
        overflow: visible;
        max-height: none;
        height: auto;
    }
}

.navbar .navbar-nav > li > a > p {
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
    display: initial;
    color: #66615B;
}

.navbar .navbar-nav i {
    font-size: 20px;
    float: left;
    margin-right: 2px;
    line-height: 20px;
    width: 30px;
    text-align: center;
    color: #66615B;
}

.navbar-nav > li > a {
    margin: 5px 0px 5px 1px;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:not(.btn):hover,
.navbar-nav > .active > a:not(.btn):focus,
.navbar-nav > li > a:not(.btn):hover,
.navbar-nav > li > a:not(.btn):focus {
    color: #FFFFFF;
    margin: 5px 0px 5px 1px;
    border-radius: 4px;
    background-color: rgba(156, 192, 221, 0.40);
}

#user-nav .navbar-nav > .active > a,
#user-nav .navbar-nav > .active > a:not(.btn):hover,
#user-nav .navbar-nav > .active > a:not(.btn):focus,
#user-nav .navbar-nav > li > a:not(.btn):hover,
#user-nav .navbar-nav > li > a:not(.btn):focus {
    color: #FFFFFF;
    margin: 5px 0px 5px 1px;
    border-radius: 4px;
    background-color: rgba(151, 189, 164, .3);
}

.navbar .navbar-minimize {
    float: left;
}

.navbar .navbar-minimize .btn {
    border-radius: 25px;
    padding: 0px;
    border: none;
    opacity: .86;
    margin: 14px 5px 15px;
    box-sizing: border-box;
    border-width: 2px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    border-color: #66615B;
    color: #66615B;
}

.navbar .navbar-minimize .btn i {
    font-size: 30px;
    float: left;
    line-height: 30px;
    margin-left: 0px;
    margin-left: 0px;
    margin-top: 1px;
}


/*      FOOTER:   */

.footer {
    width: 100%;
    max-height: 70px;
    background-color: #FFFFFF;
}

#indexfooter {
    max-height: 50px;
}

.footer .copyright,
.footer p {
    color: #66615B;
    padding: 10px 15px;
    margin: 5px 3px 20px;
    line-height: 20px;
    font-size: 14px;
}

.footer nav > ul {
    color: #66615B;
    padding: 10px 15px;
    margin: 5px 3px 0px 1px;
    line-height: 20px;
    font-size: 14px;
    list-style: none;
    font-weight: normal;
}

#user-footer {
    margin: 0px 3px 2px 1px;
}


/*      Changes for small display  */

@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .main-panel {
        width: 100%;
    }
    .navbar-transparent {
        padding-top: 15px;
        background-color: rgba(0, 0, 0, 0.45);
    }
    body {
        position: relative;
    }
    .wrapper {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
        -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        left: 0;
        background-color: white;
    }
    .card p {
        font-size: 12px;
    }
    .navbar .container {
        left: 0;
        width: 100%;
        -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        position: relative;
    }
    .navbar-nav > li {
        float: none;
        position: relative;
        display: block;
    }
    .sidebar,
    .off-canvas-sidebar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 230px;
        right: 0;
        left: auto;
        z-index: 1032;
        visibility: visible;
        background-color: #9A9A9A;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        padding-right: 0px;
        padding-left: 0;
        -webkit-transform: translate3d(230px, 0, 0);
        -moz-transform: translate3d(230px, 0, 0);
        -o-transform: translate3d(230px, 0, 0);
        -ms-transform: translate3d(230px, 0, 0);
        transform: translate3d(230px, 0, 0);
        -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
    .sidebar .logo .simple-text {
        font-size: 16px;
    }
    .sidebar .sidebar-wrapper,
    .off-canvas-sidebar .sidebar-wrapper {
        width: 230px;
        box-shadow: inset 1px 0px 0px 0px #cfcfca;
    }
    .sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):before,
    .off-canvas-sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):before {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 12px;
    }
    .sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):after,
    .off-canvas-sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):after {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        left: -1px;
        top: 12px;
    }
    .sidebar .nav,
    .off-canvas-sidebar .nav {
        margin-top: 0;
        position: relative;
        z-index: 4;
    }
    .sidebar .nav > li > a i,
    .off-canvas-sidebar .nav > li > a i {
        font-size: 25px;
        margin-right: 4px;
    }
    .sidebar .nav-mobile-menu > li a,
    .off-canvas-sidebar .nav-mobile-menu > li a,
    .sidebar .nav-mobile-menu > li a > p,
    .off-canvas-sidebar .nav-mobile-menu > li a > p {
        transition: none;
        padding: 1px !important;
        margin: 2px 5px 0px !important;
        font-size: 12px;
    }
    .sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a,
    .off-canvas-sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a {
        padding-left: 65px;
        margin: 0;
    }
    .off-canvas-sidebar .nav {
        margin-top: 15px;
    }
    .off-canvas-sidebar .nav > li > a {
        line-height: 30px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        left: 0;
        opacity: 1;
        white-space: nowrap;
    }
    .nav-open .navbar-collapse {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .nav-open .navbar .container {
        left: 0px;
    }
    .nav-open .wrapper {
        left: 0;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .nav-open .wrapper .sidebar {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .toggled {
        -webkit-transform: translate3d(-240px, 0, 0);
        -moz-transform: translate3d(-240px, 0, 0);
        -o-transform: translate3d(-240px, 0, 0);
        -ms-transform: translate3d(-240px, 0, 0);
        transform: translate3d(-240px, 0, 0);
    }
    #toggle-home {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .navbar-toggle {
        -webkit-transition: all 0.25s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.25s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.25s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.25s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.25s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
    .bar1,
    .bar2,
    .bar3 {
        outline: 1px solid transparent;
    }
    .bar1 {
        top: 0px;
        -webkit-animation: topbar-back 500ms linear 0s;
        -moz-animation: topbar-back 500ms linear 0s;
        animation: topbar-back 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .bar2 {
        opacity: 1;
    }
    .bar3 {
        bottom: 0px;
        -webkit-animation: bottombar-back 500ms linear 0s;
        -moz-animation: bottombar-back 500ms linear 0s;
        animation: bottombar-back 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .toggled .bar1 {
        top: 6px;
        -webkit-animation: topbar-x 500ms linear 0s;
        -moz-animation: topbar-x 500ms linear 0s;
        animation: topbar-x 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-transform: translate3d(-260px, 0, 0);
        -moz-transform: translate3d(-260px, 0, 0);
        -o-transform: translate3d(-260px, 0, 0);
        -ms-transform: translate3d(-260px, 0, 0);
        transform: translate3d(-260px, 0, 0);
    }
    .toggled .bar2 {
        opacity: 0;
    }
    .toggled .bar3 {
        bottom: 6px;
        -webkit-animation: bottombar-x 500ms linear 0s;
        -moz-animation: bottombar-x 500ms linear 0s;
        animation: bottombar-x 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-transform: translate3d(-260px, 0, 0);
        -moz-transform: translate3d(-260px, 0, 0);
        -o-transform: translate3d(-260px, 0, 0);
        -ms-transform: translate3d(-260px, 0, 0);
        transform: translate3d(-260px, 0, 0);
    }
    @keyframes topbar-x {
        0% {
            top: 0px;
            transform: rotate(0deg);
        }
        45% {
            top: 6px;
            transform: rotate(145deg);
        }
        75% {
            transform: rotate(130deg);
        }
        100% {
            transform: rotate(135deg);
        }
    }
    @-webkit-keyframes topbar-x {
        0% {
            top: 0px;
            -webkit-transform: rotate(0deg);
        }
        45% {
            top: 6px;
            -webkit-transform: rotate(145deg);
        }
        75% {
            -webkit-transform: rotate(130deg);
        }
        100% {
            -webkit-transform: rotate(135deg);
        }
    }
    @-moz-keyframes topbar-x {
        0% {
            top: 0px;
            -moz-transform: rotate(0deg);
        }
        45% {
            top: 6px;
            -moz-transform: rotate(145deg);
        }
        75% {
            -moz-transform: rotate(130deg);
        }
        100% {
            -moz-transform: rotate(135deg);
        }
    }
    @keyframes topbar-back {
        0% {
            top: 6px;
            transform: rotate(135deg);
        }
        45% {
            transform: rotate(-10deg);
        }
        75% {
            transform: rotate(5deg);
        }
        100% {
            top: 0px;
            transform: rotate(0);
        }
    }
    @-webkit-keyframes topbar-back {
        0% {
            top: 6px;
            -webkit-transform: rotate(135deg);
        }
        45% {
            -webkit-transform: rotate(-10deg);
        }
        75% {
            -webkit-transform: rotate(5deg);
        }
        100% {
            top: 0px;
            -webkit-transform: rotate(0);
        }
    }
    @-moz-keyframes topbar-back {
        0% {
            top: 6px;
            -moz-transform: rotate(135deg);
        }
        45% {
            -moz-transform: rotate(-10deg);
        }
        75% {
            -moz-transform: rotate(5deg);
        }
        100% {
            top: 0px;
            -moz-transform: rotate(0);
        }
    }
    @keyframes bottombar-x {
        0% {
            bottom: 0px;
            transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            transform: rotate(-145deg);
        }
        75% {
            transform: rotate(-130deg);
        }
        100% {
            transform: rotate(-135deg);
        }
    }
    @-webkit-keyframes bottombar-x {
        0% {
            bottom: 0px;
            -webkit-transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            -webkit-transform: rotate(-145deg);
        }
        75% {
            -webkit-transform: rotate(-130deg);
        }
        100% {
            -webkit-transform: rotate(-135deg);
        }
    }
    @-moz-keyframes bottombar-x {
        0% {
            bottom: 0px;
            -moz-transform: rotate(0deg);
        }
        45% {
            bottom: 6px;
            -moz-transform: rotate(-145deg);
        }
        75% {
            -moz-transform: rotate(-130deg);
        }
        100% {
            -moz-transform: rotate(-135deg);
        }
    }
    @keyframes bottombar-back {
        0% {
            bottom: 6px;
            transform: rotate(-135deg);
        }
        45% {
            transform: rotate(10deg);
        }
        75% {
            transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            transform: rotate(0);
        }
    }
    @-webkit-keyframes bottombar-back {
        0% {
            bottom: 6px;
            -webkit-transform: rotate(-135deg);
        }
        45% {
            -webkit-transform: rotate(10deg);
        }
        75% {
            -webkit-transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            -webkit-transform: rotate(0);
        }
    }
    @-moz-keyframes bottombar-back {
        0% {
            bottom: 6px;
            -moz-transform: rotate(-135deg);
        }
        45% {
            -moz-transform: rotate(10deg);
        }
        75% {
            -moz-transform: rotate(-5deg);
        }
        100% {
            bottom: 0px;
            -moz-transform: rotate(0);
        }
    }
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .navbar-minimize {
        display: none;
    }
}
