h4 {
	margin-left:5px;
}

p[id="text"] {
	margin-left:15px;
}

.media-body {
	margin-bottom:10px;
	border: 2px solid lightgray;
}

.media-footer {
	background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}

.btn-info, .btn-primary {
    margin-bottom:10px;
}