/* CSS for user-home-view */

#viewGoesHere{
	background-color: transparent;
	min-height: 100%;
}

h1,
h1[id="home-header"] {
    text-align: center;
    margin-bottom: 30px;
}

.row[id="home-top"],
.row[id="home-users"] {
    margin: 0px;
    /*margin-top:10%; */
   padding: 0px;
   background-color: transparent;
}


/*.row[id="home-welcome"] {
	padding:0px 50px 50 px 50px;
}
.row[id="home-top"] {
}
.row[id="home-mid"] {
}
*/

/*contact {
    width:100%;
}
*/
/*#rewards {
    background-color: transpar;  
    width:100%;
}*/

table[id=rewardTable] {
    width:100%;
}

tr[id="rewardRow"] {
    margin-bottom: 10px;
}

td[id="rewardCell"] {
    text-align: center;
}

td[id="second"] {
    border-left:3px solid grey;
}

.col-sm-offset-1 {
    background-color: transparent;
    margin-bottom: 0px;
}

p[id="rewardDescr"] {
    font-size: 14pt;
}

/*

.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.card .header {
    padding: 15px 15px 0;
}

.card label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card .title {
    margin: 0;
    color: #333333;
    font-weight: 300;
}

.row .separator {
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

*/


form[id="new-entry"], .form-horizontal {
    background-color: white;
    margin-right:30px;
    padding:10px 10px 10px 20px;
    border:1px solid black;
    margin-bottom: 20px;
}

.btn-default {
    margin-right:100px;
}

h1 {
    text-align:center;
}

.row[id="input-mid"] {
    margin-top:50px;
}

div[id="incomplete"] {
    margin-top:20px;
}

span[id="username"]{
    text-transform: uppercase;
}




