<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-md-12"> -->
            <div class="card" style="height: auto">
                <div class="header">
                    <h4 class="title">Create A New Study</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="separator">
                            <a href="#">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <p style="padding:10px;"></p>
                </div>
                <form id="createStudyForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Study Title:</label>          
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Study Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Study Summary:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="description" name="description" rows="12" placeholder="Enter Study Summary"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container col-sm-8">
                            <label for="conditionGroupSelector" class="col-sm-4 control-label">Condition Groups:</label>          
                            <div class="col-sm-2">
                                <select class="form-control" id="conditionGroupSelector"  name="conditionGroupSelector" >
                                    <option value="1">1</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <label for="phaseSelector" class="col-sm-4 control-label">Phases:</label>          
                            <div class="col-sm-2">
                                <select class="form-control" id="phaseSelector" name="phaseSelector">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="tabsGoesHere" class="container col-sm-offset-1 col-sm-10">    
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block" name="createStudy" id="createStudy">Create Study</button>
                        </div>
                        <div class="col-sm-offset-4 col-sm-2">
                            <button type="reset" class="btn btn-danger btn-block" name="Reset">Reset</button>
                        </div>
                    </div>                    
                        
                </form><!--end form-->
            </div>
        <!-- </div> --> <!--end col md 12-->
    </div>
</div>