            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Monitor Studies</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="separator">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-10 col-md-offset-1">
                            		<div class="panel-group" id="accordion">
			                            <div id="currentStudiesTable">
			                                <!--Dynamically loaded from JS-->
			                            </div> <!--end current studies table-->
			                            <div class="row">
			                                <div class="col-md-12">
			                                    <div class="separator">
			                                        <a href="#">
			                                        </a>
			                                    </div>
			                                </div>
			                            </div>
		                            </div>
	                            </div>
                            </div> <!-- row -->
                        </div>
                    </div>
                </div>
            </div> <!--container-->