<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h1 class="title">Current Studies</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="separator">
                            <a href="#">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="currentStudiesTable">
                        <!--Dynamically loaded from JS-->
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="separator">
                            <a href="#">
                            </a>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-2 col-sm-0"></div>
                    <div class="col-md-5 col-sm-5">
                        <button type="button" class="btn btn-default pull-left long" id="createNewStudy"><i class="pe-7s-leaf" aria-hidden="true"></i>CREATE A NEW STUDY</button>
                    </div>
                    <div class="col-md-1 col-sm-2"></div>
                    <div class="col-md-5 col-sm-5">
                        <button type="button" class="btn btn-default pull-left long" id="extractRawData"><i class="pe-7s-download" aria-hidden="true"></i>DOWNLOAD ALL DATA</button>
                    </div>
                </div>
            </div>
            <!-- card -->
        </div>
        <!-- col-md-12 -->
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h1 class="title">Manage Users</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="separator">
                            <a href="#">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-0"></div>
                    <div class="col-md-5 col-sm-5">
                        <button type="button" class="btn btn-default pull-left long" id="createUserAccount"><i class="pe-7s-add-user" aria-hidden="true"></i>CREATE A NEW USER ACCOUNT</button>
                    </div>
                    <div class="col-md-1 col-sm-2"></div>
                    <div class="col-md-5 col-sm-5">
                        <button type="button" class="btn btn-default pull-left long" id="manageUserAccount"><i class="pe-7s-users" aria-hidden="true"></i>MANAGE USER ACCOUNTS</button>
                    </div>
                </div>
            </div>
            <!-- card -->
        </div>
        <!-- col-md-12 -->
    </div>
    <!-- row -->
</div>
<!-- container-fluid -->
