<div class="container">
    <div class="row" id="top">
        <div class="col-sm-12">
            <h1 class="text-left">Monitor Users and Data Inputs:</h1>
        </div>
        <div class="col-sm-8 container">
            <label class="col-sm-1 control-label align-left">Study:</label>          
            <div class="col-sm-3">
                <select class="form-control" id="addStudySelector"  name="addStudySelector" >
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="col-sm-2 text-center">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default" id="addStudyButton" name="addStudyButton"><i class='glyphicon glyphicon-plus'></i></button>
                    <button type="button" class="btn btn-default" id="removeStudyButton" name="removeStudyButton"><i class='glyphicon glyphicon-minus'></i></button>
                </div>            
            </div>            
            <div class="col-sm-3">
                <select class="form-control" id="removeStudySelector"  name="removeStudySelector" >
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
        <div class="text-right">
            <label class="col-sm-2">Save Filename:</label>
            <input class="col-sm-2" id="adminMonitorUserToSaveAsFilename"></input>
        </div>            
        <div class="col-sm-8 container">
            <label class="col-sm-1 control-label align-left">User:</label>          
            <div class="col-sm-3">
                <select class="form-control" id="addUserSelector"  name="addUserSelector" >
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="col-sm-2 text-center">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default" id="addUserButton" name="addUserButton"><i class='glyphicon glyphicon-plus'></i></button>
                    <button type="button" class="btn btn-default" id="removeUserButton" name="removeUserButton"><i class='glyphicon glyphicon-minus'></i></button>
                </div>            
            </div>            
            <div class="col-sm-3">
                <select class="form-control" id="removeUserSelector"  name="removeUserSelector" >
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-2 text-right">
             <button type="button" class="btn btn-primary" id="adminMonitorUserExtractRawData" name="adminMonitorUserExtractRawData">
                 <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Extract Raw Data</button>
        </div>            
    </div>
    <div class="row" id="top">        
        <div class="col-sm-12">
            <p style="padding:6px;"></p>
            <table id="monitorUserTable" class="table table-bordered" cellspacing="0" width="100%">
                <!-- dynamically insert header here -->
                <thead>
                    <tr id="insertMonitorUserTableHeader">
                    </tr>
                </thead>
                
                <!-- dynamically insert content here -->
                <tbody id="insertMonitorUserTableBody">
                </tbody> 
                
            </table>
        </div>
    </div>
</div>