<div class="container-fluid">        
  <h1>Contact Us!</h1>
  <div class="row">                          
    <!-- edit form column -->
    <div class="col-md-9 contact-info">      
      <form class="form-horizontal" role="form" id="contact-form">
        <div class="form-group">
          <label class="col-md-3 control-label">Name:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="contact-name" name="contact-name" value="">
          </div>
        </div>       
        <div class="form-group">
          <label class="col-md-3 control-label">Email:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="contact-email" name="contact-email" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Subject:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="subject" name="subject" value="">
          </div>
        </div>         
        <div class="form-group">
          <label class="col-md-3 control-label">Message</label>
          <textarea class="form-control" id="contact-message" rows="3"> </textarea>
        </div> 
        <div class="form-group">
          <label>*What is 2+2? (Anti-spam)</label>
          <input name="anti-spam" id="anti-spam" placeholder="Type Here">   
        </div>              
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-2">
            <!-- <input id="submit" name="submit" type="submit" value="Send"> -->
              <button type="submit" class="btn btn-primary btn-block" name="send" id="send">Send</button>
          </div>
          <div class="col-sm-offset-2 col-sm-2">
              <button type="reset" class="btn btn-danger btn-block" name="Reset">Reset</button>
          </div>                  
        </div>
      </form>
    </div>
  </div>
</div>

