    <div class="container">
            <h1>Welcome, <span id="username"></span>!</h1>
        <div class="row" id="home-top">
            
            <h2>What's New</h2>
            <!--"What's new" dynamically loaded from JS-->
            <!--Basic-->
            <p id="dataEntry">You can input your data from the watt meter on the <em><strong>Input Data page</strong></em></p>

            <!--Statistics-->
            <p id="personalStats">You can check your statistics on the <em><strong>Statistics page</strong></em></p>
            <p id="conditionGroupStats">You can check your condition group statistics on the <em><strong>Statistics page</strong></em></p>
            <p id="subTeamStats">You can check your sub-team statistics on the <em><strong>Statistics page</strong></em></p>
            <p id="socialMediaStats">You can share your statistics on <em><strong>Social Media</strong></em></p>  
                      
            <!--Community Posts-->
            <p id="submitTips">You can now submit tips on the <em><strong>Community Posts page</strong></em>!</p>
            <p id="adminTips">You can now see Admin's tips on the <em><strong>Community Posts page</strong></em>!</p>
            <p id="conditionGroupTips">You can now see tips from your fellow condition group members on the <em><strong>Community Posts page</strong></em>!</p>
            <p id="subTeamTips">You can now see tips from your fellow sub-team members on the <em><strong>Community Posts page</strong></em>!</p>
            <p id="socialMediaTips">You can now share tips on the <em><strong>Community Posts page</strong></em>!</p>

            <!--Rewards Do we want to have an update about these, or no?-->
            <p id="privateRewards">You can now earn <em><strong>Reward Badges</strong></em>!</p>
            <p id="publicRewards">You can now earn <em><strong>Reward Badges</strong></em>!</p>
            <p id="progression">You're now in the <em><strong>progression system</strong></em>!</p>
        </div>

        <div class="row" id="home-mid">
            <!--TODO: "Rewards" dynamically loaded from JS
                if # of tds = odd, then add another td; otherwise, new row-->
            <h2>Your Rewards</h2>
            <div class="col-sm-10 col-offset-1" id="rewards">
                <table id="rewardTable">
                    <tr ir="rewardRow">
                        <td id="rewardCell"><p id="rewardDescr"><img src="images/yellow_star.png"> Entered 10 entries </p></td>
                        <td id="second"><p id="rewardDescr"><img src="images/green_star.png"> Liked 10 tips </p></td>
                    </tr>

                </table>
    </div>

