<h1>Your Statistics</h1>
<!--Personal Statistics-->
<div class="row" id="statistics-top">
	<h4>Past Entries</h4>
	<div class="col-sm-6 col-sm-offset-3" id="past-entries">
		

	</div>
	<div class="col-sm-11" id="trend">
		<h4>Trend</h4>
		<div id="dashboard">
			<strong>Use the slider control</strong>
			<div id="control">
			</div>
			<div class="chart" id="trendChart">
			</div>
		</div>
	</div>
</div>

<!--Condition group and subteam statistics-->
<div class="row" id="statistics-mid">
	
	<div class="col-sm-4" id="ranking">

		<h4>Condition Group Ranking</h4>
	</div>
	<div class="col-sm-6 col-sm-offset-1" id="subTeam">
		<h4>Sub-team Competition</h4>
		<div class="chart" id="subTeamChart">
		</div>
	</div>
</div>

<!--Share to social media-->
<div class="row" id="statistics-bottom">

</div>